.home {
  margin: 0 30px;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.main-title {
  color: #2f432d;
}

.cards_display {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
}